body {
  background: radial-gradient(circle, rgb(148, 62, 148) 30%, rgb(133, 18, 114) 90%); 
  margin: 0;
padding: 0; 
font-family: cursive;}

.banner { 
  width: 100%; 
  height: 600px; 
  padding:0px 0px 0px,0px; 
  align-self: center;
}

.info {
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  grid-column: 1;
  grid-row: 4;
  background-color: rgba(130, 221, 228, 0.528);
  width: 400px;
  height: auto;
  margin: 0 0 0 0;
  border-color: rgb(17, 76, 105);
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
}

.top-row {
  position: relative;
  width: 100%;
  margin: 100px 0 0 0;
  min-height: 260px;
}

.button-row {
  position: absolute;
  right: 0;
  top: 220%;
  transform: translateY(-50%);
  width: auto;
  text-align: right;
  margin: 100px 0 0 0;
}

.animal-placement {
  position: absolute;
  left: 50%;
  top: 280%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.penguin {
  display: block;
  width: auto;
  height: 400px;
  margin: 10px auto 0;
  margin-bottom: 30px;
  border: 5px solid rgb(17, 76, 105);
  border-radius: 10px;
}
.dragonfly {
  display: block;
  width: auto;
  height: 300px;
  margin-bottom: 30px;
  border: 5px solid rgb(17, 76, 105);
  border-radius: 10px;
}

h1 {
font-size: 52px; color: rgb(136, 50, 149); 
grid-area: column 1 / row 1; 
text-align: center;
border-bottom: 5px solid rgb(0, 0, 0);
}
.profile {
  width: 400px;
  height: auto
  grid-column: 2; grid-row: 2;
  border-radius: 5px;
  border-color: rgb(9, 62, 89);
  border-width: 5px;
  border-style: solid;
}

.name {
  grid-column: 1; grid-row: 3;
  font-size: 30px;
  color: rgb(136, 50, 149); 
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
text-align: left;
}

.hudbaa {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding: 0;
  border: none;
  background: transparent;
}

.texttlacitko {
  font-family: cursive;
  text-size-adjust: auto;
  width: 400px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(239, 114, 255);
  font-size: 40px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  pointer-events: none;
  z-index: 2;
}

.albumcover {
  width: 400px;
  height: 300px;
  display: block;
  object-fit: cover;
  position: relative;
  margin-right: 20px;
}

.textanimal {
  font-family: cursive;
  text-size-adjust: auto;
  color: rgb(106, 166, 170);
  font-size: 52px;

}

.textpenguin {
  font-family: cursive;
  text-size-adjust: auto;
  color: rgb(133, 18, 114);
  font-size: 32px;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.textdragonfly {
  font-family: cursive;
  text-size-adjust: auto;
  color: rgb(133, 18, 114);
  font-size: 32px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%)
}